.logo {
  color: getColor("accent-light");

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.page-header__logo {
  color: black;
}
